:root {
    /* Colors */
    --blue950: #2d2640ff;
    --blue500: #95a9c6ff;
    --gray950: #2b272fff;
    --gray700: #837d87ff;
    --gray50: #fafafaff;

    /* Font weights */
    --font-w-400: 400;
    --font-w-700: 700;
}

/* ---------- | Reusable classes | ---------- */
.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.flex-column {
    flex-direction: column;
}

.just-sp-be {
    justify-content: space-between;
}

.just-c-c {
    justify-content: center;
}

.align-it-c {
    align-items: center;
}

.s-pad {
    padding-right: clamp(1rem, 6vw, 5rem);
    padding-left: clamp(1rem, 6vw, 5rem);
}

/* Gap classes */
.gap-1r {
    gap: 1rem;
}

.gap-1-5r {
    gap: 1.5rem;
}

.gap-2r {
    gap: 2rem;
}

.gap-3r {
    gap: 3rem;
}

/* Color classes */
.color-gray700 {
    color: var(--gray700);
}

.color-blue950 {
    color: var(--blue950);
}

.color-gray50 {
    color: var(--gray50);
}

.color-w {
    color: #fff;
}

/* Background color classes */
.bg-blue950 {
    background-color: var(--blue950);
}

/* Padding and Margin classes */
.pad-05-1-5r {
    padding: 0.5rem 1.5rem;
}

.pad-2-3r {
    padding: 2rem 3rem;
}

.pad-tb-1-5r {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.pad-tb-3 {
    padding-top: clamp(3.5rem, 9vw, 8rem);
    padding-bottom: clamp(3.5rem, 9vw, 8rem);
}

.mar-0 {
    margin: 0;
}

.mar-b-20vw {
    margin-bottom: clamp(10rem, 18vw, 23vw);
}

/* Font family classes */
.font-f-DM {
    font-family: "DM Serif Display", serif;
}

.font-f-kar {
    font-family: "Karla", sans-serif;
}

/* Font weight classes */
.font-w-400 {
    font-weight: var(--font-w-400);
}

.font-w-700 {
    font-weight: var(--font-w-700);
}

/* Position classes */
.pos-r {
    position: relative;
}

.pos-a {
    position: absolute;
}

/* Transition class */
.trans-all-03-ea {
    transition: all 0.3s ease;
}

/* Other */
.line-height-1-5r {
    line-height: 1.5rem;
}

.line-height-4vw {
    line-height: clamp(3rem, 4vw, 5rem);
}

.big-text {
    font-size: clamp(3rem, 4.5vw, 10rem);
}

.big-text-2 {
    font-size: clamp(1.5rem, 3.5vw, 7rem);
}

.lett-space {
    letter-spacing: 1px;
}

.text-center {
    text-align: center;
}

.width-100 {
    width: 100%;
}

.height-auto {
    height: auto;
}

.point-event-none {
    pointer-events: none;
}

.z-index-1 {
    z-index: 1;
}

/* Quick animation */
.up {
    opacity: 0;
    transform: translateY(3rem);
    animation: Up 1s ease forwards;
}

.delay-1 {
    animation-delay: 0.2s;
}

.delay-2 {
    animation-delay: 0.4s;
}

.delay-3 {
    animation-delay: 0.6s;
}

@keyframes Up {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* -----  ----- */
a {
    text-decoration: none;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

li {
    list-style: none;
}

nav li:last-child {
    border: 2px solid var(--blue950);
}

header {
    overflow: hidden;
}

.n-line-des::before {
    content: '';
    width: 9rem;
    background-color: var(--gray50);
    height: 1px;
    position: absolute;
    top: -4vw;
}

.hero-img {
    top: 7vw;
    right: clamp(1rem, 9vw, 8rem);
    width: 35%;
}

.smth-1 {
    top: 0;
    right: 0;
}

.smth-2 {
    bottom: -18rem;
    left: 0;
}

.smth-3 {
    top: 0;
    left: 0;
}

.smth-4 {
    right: 0;
    bottom: -15rem;
}
.smth-5 {
    bottom: 0;
    right: 0;
}

.difference-img {
    height: auto;
    width: 5rem;
}

.n-line-des-2::before {
    content: "";
    position: absolute;
    width: 9rem;
    height: 1px;
    top: -4vw;
    background-color: var(--gray700);
}

.n-line-mob::before {
    content: "";
    position: absolute;
    width: 7rem;
    height: 1px;
    top: -5vw;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--gray700);
}

footer {
    background-color: var(--gray50);
}

.h-line::after {
    content: '';
    width: 100%;
    height: 1px;
    background-color: var(--gray700);
    position: absolute;
    bottom: -2rem;
}

.icon {
    font-size: 1.5rem;
    cursor: pointer;
    color: var(--gray700);
}

.side-opener {
    border: 3px solid var(--gray700);
    width: 2rem;
    height: 2rem;
    gap: 0.3rem;
}

.hamburger {
    font-size: 1.5rem;
}

.x {
    font-size: 1.5rem;
}

.sidebar-window {
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
    top: 80px;
    left: 0;
    z-index: 2;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.sidebar-window.open {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
}

/* Hover effects */
.icon:hover {
    transform: scale(1.1);
    color: var(--blue950);
}

footer a:hover {
    text-decoration: underline;
}

.btn-1:hover {
    background-color: var(--blue950);
}

.btn-1:hover a {
    color: var(--gray50);
}

.btn-2 {
    border: 2px solid var(--gray50);
    width: max-content;
}

.btn-2:hover {
    background-color: var(--gray50);
}

.btn-2:hover a {
    color: var(--blue950);
}

.link:hover {
    color: var(--blue950);
}

.only-mob {
    display: none;
}

@media (max-width: 450px) {
    .only-des {
        display: none;
    }

    .only-mob {
        display: block;
    }

    .sec-1 {
        padding: 0;
    }
}
